*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: antiquewhite;
}
.container{
    max-width: 1210px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: transparent;
}
.logo{
    margin-left: 50px;
}
.buttons{
    margin-right: 50px;
}
button{
    padding: 12px 12px;
}
.hero__container{
    text-align: center;
    margin-top: 100px;
}
.text h4{
    font-size: 2rem;
}
.text p{
    font-size: 2rem;   
}
.section__container{
    margin-top: 100px;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
.card h3{
    margin-top: 50px;
    margin-bottom: 30px;
}
.card p{
    font-size: 1rem;
    margin-bottom: 10px;
}
#auto{
    background-color: wheat;
    border: none;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 10px;
}
#dark{
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    margin-bottom: 10px;
}
#light{
    background-color: white;
    border: none;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 10px;
}